<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Archimate Relationships"
         point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.AccessRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.AccessRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.AggregationRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.AggregationRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.AssignmentRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.AssignmentRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.AssociationRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.AssociationRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.CompositionRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.CompositionRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.FlowRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.FlowRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.InfluenceRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.InfluenceRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.RealizationRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.RealizationRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.ServingRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.ServingRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.SpecializationRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.SpecializationRelationshipUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.relationships.TriggeringRelationshipUIProvider"
            id="gimatdinov.archiannotations.ui.provider.relationships.TriggeringRelationshipUIProvider">
      </uiProvider>
   </extension>
   <extension
      name="Archimate Elements"
      point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationCollaborationUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationComponentUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationComponentUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationEventUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationEventUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationFunctionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationInteractionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationInterfaceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationProcessUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ApplicationServiceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ApplicationServiceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ArtifactUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ArtifactUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.AssessmentUIProvider"
            id="gimatdinov.archiannotations.ui.provider.AssessmentUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessActorUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessActorUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessCollaborationUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessEventUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessEventUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessFunctionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessInteractionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessInterfaceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessObjectUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessObjectUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessProcessUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessRoleUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessRoleUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.BusinessServiceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.BusinessServiceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.CapabilityUIProvider"
            id="gimatdinov.archiannotations.ui.provider.CapabilityUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.CommunicationNetworkUIProvider"
            id="gimatdinov.archiannotations.ui.provider.CommunicationNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ConstraintUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ConstraintUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ContractUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ContractUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.CourseOfActionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.CourseOfActionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.DataObjectUIProvider"
            id="gimatdinov.archiannotations.ui.provider.DataObjectUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.DeliverableUIProvider"
            id="gimatdinov.archiannotations.ui.provider.DeliverableUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.DeviceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.DeviceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.DistributionNetworkUIProvider"
            id="gimatdinov.archiannotations.ui.provider.DistributionNetworkUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.DriverUIProvider"
            id="gimatdinov.archiannotations.ui.provider.DriverUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.EquipmentUIProvider"
            id="gimatdinov.archiannotations.ui.provider.EquipmentUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.FacilityUIProvider"
            id="gimatdinov.archiannotations.ui.provider.FacilityUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.GapUIProvider"
            id="gimatdinov.archiannotations.ui.provider.GapUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.GoalUIProvider"
            id="gimatdinov.archiannotations.ui.provider.GoalUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.GroupingUIProvider"
            id="gimatdinov.archiannotations.ui.provider.GroupingUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ImplementationEventUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ImplementationEventUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.LocationUIProvider"
            id="gimatdinov.archiannotations.ui.provider.LocationUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.MaterialUIProvider"
            id="gimatdinov.archiannotations.ui.provider.MaterialUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.MeaningUIProvider"
            id="gimatdinov.archiannotations.ui.provider.MeaningUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.NodeUIProvider"
            id="gimatdinov.archiannotations.ui.provider.NodeUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.OutcomeUIProvider"
            id="gimatdinov.archiannotations.ui.provider.OutcomeUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.PathUIProvider"
            id="gimatdinov.archiannotations.ui.provider.PathUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.PlateauUIProvider"
            id="gimatdinov.archiannotations.ui.provider.PlateauUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.PrincipleUIProvider"
            id="gimatdinov.archiannotations.ui.provider.PrincipleUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ProductUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ProductUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.RepresentationUIProvider"
            id="gimatdinov.archiannotations.ui.provider.RepresentationUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.RequirementUIProvider"
            id="gimatdinov.archiannotations.ui.provider.RequirementUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ResourceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ResourceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.StakeholderUIProvider"
            id="gimatdinov.archiannotations.ui.provider.StakeholderUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.SystemSoftwareUIProvider"
            id="gimatdinov.archiannotations.ui.provider.SystemSoftwareUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyCollaborationUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyCollaborationUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyEventUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyEventUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyFunctionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyFunctionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyInteractionUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyInteractionUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyInterfaceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyInterfaceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyProcessUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyProcessUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.TechnologyServiceUIProvider"
            id="gimatdinov.archiannotations.ui.provider.TechnologyServiceUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.ValueUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ValueUIProvider">
      </uiProvider>
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.elements.WorkPackageUIProvider"
            id="gimatdinov.archiannotations.ui.provider.WorkPackageUIProvider">
      </uiProvider>
   </extension>
   <extension
         name="Archimate Diagram"
         point="com.archimatetool.editor.objectUIProvider">
      <uiProvider
            class="gimatdinov.archiannotations.ui.provider.diagram.ArchimateDiagramModelUIProvider"
            id="gimatdinov.archiannotations.ui.provider.ArchimateDiagramModelUIProvider">
      </uiProvider>
   </extension>
   <extension
         name="Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gimatdinov.archiannotations.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="gimatdinov.archiannotations.preferences.ArchiAnnotationsPreferencesPage"
            id="gimatdinov.archiannotations.preferences.ArchiAnnotationsPreferencesPage"
            name="Annotations">
      </page>
   </extension>
</plugin>
